.list
  %span.list-title= list.title
  %span.list-utils.quiet.medium
    = pluralize list.todos.left.count, "todo"
    left -
    = link_to "Add a todo", "#"
  .left
    %ul
      = render list.todos.left
  - if list.todos.done.count > 0
    .done.small.quiet
      = "Done (#{list.todos.done.count}) :"
      %ul
        = render list.todos.done
