.list{ :id => "list-#{list.id}" }
  = link_to list.title, [@project, list], :class => "list-title"
  %span.list-utils.quiet.medium
    %span.left-count= "#{pluralize list.todos.left.count, 'todo'} left"
    \-
    %span.add-todo= link_to "Add a todo", "#"
  .left
    %ul
      = render list.todos.left
  - if list.todos.done.count > 0
    .done.small.quiet
      = "Done (#{list.todos.done.count}) :"
      %ul
        = render list.todos.done
