#page-title
  %span.page-title= @list.title
  -if @list.done?
    %span.alt (Completed)
  .list-description.quiet
    A list in project
    = link_to @project.name, @project

= render @list

= content_for :sidebar do
  = render "lists/list_summary"
  = link_to "Delete this list", [@project, @list], :method => :delete, :confirmation => "Are you sure you want to delete this list?", :class => "delete-link"
