.project{ :id => "project-#{project.id}" }
  = link_to project.name, project, :class => "title"
  \-
  %span.alt= project.description
  .todos-summary
    You have
    %b
      =pluralize @count_map[project.id][:assigned], 'todo'
      assigned
    %ul
      -if @count_map[project.id][:overdue] > 0
        %li
          = pluralize @count_map[project.id][:overdue], 'todo'
          overdue
      -if @count_map[project.id][:due_today] > 0
        %li
          = pluralize @count_map[project.id][:due_today], 'todo'
          due today
