.project{ :id => "project-#{project.id}" }
  = link_to project.name, project, :class => "title"
  %br/
  .alt{ :style => "margin-top: 0.5em;" }= project.description
  .todos-summary
    You have
    %b
      =pluralize @count_map[project.id][:assigned], 'todo'
      assigned
      -if @count_map[project.id][:overdue] > 0 || @count_map[project.id][:overdue] > 0
        \:
    %ul
      -if @count_map[project.id][:overdue] > 0
        %li
          = pluralize @count_map[project.id][:overdue], 'todo'
          overdue
      -if @count_map[project.id][:due_today] > 0
        %li
          = pluralize @count_map[project.id][:due_today], 'todo'
          due today
