#page-title
  %span.page-title Let's get to work

#new-project-form.form{ :style => @projects.count == 0 ? "" : "display: none;" }
  = render "projects/new_form"

#todo-notifications
  -if @overdue.count > 0
    #overdue-notifications
      You have
      %b
        = pluralize @overdue.count, 'todo'
        overdue
        \:
      %ul
        = render :partial => "todos/overview", :collection => @overdue, :as => :todo
  -if @due_today.count > 0
    #due-today-notifications
      You have
      %b
        = pluralize @due_today.count, 'todo'
        due today
        \:
      %ul
        = render :partial => "todos/overview", :collection => @overdue, :as => :todo


#projects
  = render @projects


= content_for :sidebar do
  #create-project-btn
    Create a new project
