#page-title
  %span.page-title Let's get to work

#new-project-form.form{ :style => @projects.count == 0 ? "" : "display: none;" }
  = render "projects/new_form"

#todo-notifications
  -if @overdue.count > 0
    #overdue-notifications
      .small-notice
        .maximize [ + ]
        You have
        %b
          =pluralize @overdue.count, 'todo'
          overdue
      .big-notice
        .minimize [ - ]
        %h3
          You have
          %b
            = pluralize @overdue.count, 'todo'
            overdue
            \:
        %ul
          = render :partial => "todos/overview", :collection => @overdue, :as => :todo
  -if @due_today.count > 0
    #due-today-notifications
      .small-notice
        .maximize [ + ]
        You have
        %b
          =pluralize @due_today.count, 'todo'
          due today
      .big-notice
        .minimize [ - ]
        %h3
          You have
          %b
            = pluralize @due_today.count, 'todo'
            due today
            \:
        %ul
          = render :partial => "todos/overview", :collection => @due_today, :as => :todo


%h2 These are your projects:

#projects
  = render @projects


= content_for :sidebar do
  #create-project-btn
    New project
