#page-title
  %span.quiet.small Todos for
  %br/
  %span.page-title= @project.name
  %span.alt= @project.description

#new-list-form.form{ :style => @is_new_project ? "" : "display: none;" }
  = render "lists/new_form"

#lists
  = render @project.lists.left

= content_for :sidebar do
  #create-list-btn
    Create a new list
  = render "lists/list_summary"
