= content_for :breadcrumbs do
  You are here:
  = link_to "Home", projects_path
  >
  %b= @project.name

#page-title
  %span.page-title= @project.name
  %span.alt= @project.description

#new-list-form.form{ :style => @has_lists ? "display: none;" : "" }
  = render "lists/new_form"

#lists
  = render @project.lists.left

= content_for :sidebar do
  #create-list-btn
    New list
  -if @project.lists.count > 0
    = render "lists/list_summary"
