= content_for :breadcrumbs do
  You are here:
  = link_to "Home", projects_path
  >
  %b= @project.name

.quiet#back-link= link_to "Back", projects_path

#page-title
  .page-title= @project.name
  %span.alt= @project.description

#new-list-form.form{ :style => @has_lists ? "display: none;" : "" }
  = render "lists/new_form"

#lists
  = render @project.lists.left

= content_for :sidebar do
  #create-list-btn
    New list
  -if @project.lists.count > 0
    = render "lists/list_summary"
  .delete-link= link_to "Delete this project", @project, :method => :delete, :confirm => "Are you sure you want to delete this project?"

-unless @has_lists
  :javascript
    $("#new-list-form :text").focus();
-if @highlight_todo_id
  :javascript
    $(function() {
      scrollElemToCenter($('#todo-#{@highlight_todo_id}'));
      $("#todo-#{@highlight_todo_id}").effect("highlight", {}, 2500);
    });
