%span.quiet.small Todos for
%br/
%span.project-title= @project.name
%span.alt= @project.description

#new-list-form= render "lists/new_form"

#lists
  = render @project.lists.left

= content_for :sidebar do
  #create-list-btn
    Create a new list
