%h3 New todo
= form_for [@project, @todo], :remote => :true do |f|
  = f.hidden_field :list_id, :value => list_id
  %p
    Our team's task is to
    %span.task= f.text_field :task, :size => 55
    \.
    %span.assignee= select_tag :user_id, options_from_collection_for_select(@potential_assignees, :id, :username), :include_blank => "Anyone"
    is responsible, and we should have it done by
    %span.due-date= f.date_select :due_date
  %span.actions
    = f.submit "Add todo", :disabled => true
    or
    %a.cancel-add-todo{ :href => "#" } I'm done
  .clear
