%li.todo{ :id => "todo-#{todo.id}" }
  - if todo.done?
    %span.todo-controls-done
      = link_to image_tag("delete.png"), [@project, todo], :method => :delete, :remote => :true, :confirm => "Are you sure you want to delete this todo?"
    = form_for [@project, todo], :remote => true, :html => { :style => "display: inline;" } do |f|
      = f.check_box :done, :onclick => "$(this.form).trigger('submit.rails')"
      = todo.task
      -if todo.user
        = todo.assignee.username
  - else
    %span.todo-controls-left
      = link_to image_tag("delete.png"), [@project, todo], :method => :delete, :remote => :true, :confirm => "Are you sure you want to delete this todo?"
      = link_to "Edit", "#", :class => "start-edit-todo"
      = link_to image_tag("drag.png"), "#"
    = form_for [@project, todo], :remote => true, :html => { :class => "toggle-todo-form" } do |f|
      = f.check_box :done, :onclick => "$(this.form).trigger('submit.rails')"
      = todo.task
      %span.quiet
        -if todo.user
          \-
          - if todo.user == @current_user
            %span.mine= todo.assignee.username
          - else
            = todo.assignee.username
        -unless todo.due_today?
          due
          -unless todo.overdue?
            in
          = distance_of_time_in_words todo.due_date, Date.today
          -if todo.overdue?
            ago
        - if todo.overdue?
          %span.overdue OVERDUE
        - elsif todo.due_today?
          %span.due-today DUE TODAY
    = render :partial => "todos/edit_form", :locals => { :todo => todo }
