%li.todo{ :id => "todo-#{todo.id}" }
  - if todo.done?
    = form_for [@project, todo], :remote => true do |f|
      = f.check_box :done, :onclick => "$(this.form).trigger('submit.rails')"
      = "#{todo.task} - #{todo.assignee.username}"
  - else
    = form_for [@project, todo], :remote => true do |f|
      = f.check_box :done, :onclick => "$(this.form).trigger('submit.rails')"
      = todo.task
      %span.quiet
        \-
        - if todo.assignee.user == @current_user
          %span.mine= todo.assignee.username
        - else
          = todo.assignee.username
        = "(#{todo.due_date})"
        - if todo.overdue?
          %span.overdue OVERDUE
        - elsif todo.due_today?
          %span.due-today DUE TODAY
